<%
functionality = widget_properties["functionalityMetric"]
productivity = widget_properties["productivityMetric"]
issues = widget_properties["issuesMetric"]
%>

<link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'MSUFrontEnd', :path => 'quamoco.css') -%>" media="screen" />

<div id="dev-bullets" class="dev-bullets quamoco_bullets_widget" style="height:100%; width:100%">
<!--[if lte IE 8 ]> <h3>Your browser is out of date and does not support this widget.</h3> <!--[endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
    <span style="display:inline;width:100%;">
        <div style="float:left;font-family:sans-serif;width:100%;">
            <h2 style="display: inline;" id='title-h2'>Development Progress</h2>
            <hr style="float:left;width:100%"/>
        </div> </span>
    <script src="<%= url_for_static(:plugin => 'MSUFrontEnd', :path => 'bullets.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'MSUFrontEnd', :path => 'CombinedChart.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'MSUFrontEnd', :path => 'components.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'MSUFrontEnd', :path => 'moment.min.js') -%>"></script>
<script>
var chartWidth = $('#dev-bullets').parent().width();
var datas = [];

// Extract data using SonarQube webservice and then fill the datas variable
$(document).read(function() {
    datas = [];
    var params = {
        format: "json",
        fromDateTime: moment().format("YYYY-MM-DDTHH:mm:ss.SSSZZ"),
        metrics: "<%= functionality %>,<%= productivity %>,<%= issues %>",
        resource: window.navbarOptions.get('contextKey')
    };
    var tens = {};
    var tensMax = {};
    var previous = {};
    var current = {};
    var names = [];

    // get last n days of values
    $.getJSON('api/timemachine/index',params,function(d) {
        for each (var obj in d['cols']) {
            tens[obj['metric']] = [];
            names.push(obj['metric']);
        }

        // create trend array for each metric
        for each (var obj in d['cells']) {
            for (var i = 0; i < names.length; i++)
                tens[names[i]].push(obj['v'][i]);
        }

        // find max of previous values
        for each (var obj in names){
            tensMax[obj] = Math.max.apply(null, tens[obj]);
        }

        // set the previous value
        for each (var obj in names) {
            prev[obj] = tens[obj][tens[obj].length - 1];
        }
    });

    params = {
        format: "json",
        resource: window.navbarOptions.get('contextKey'), // get the resource name from the page
        depth: 0,
        scope: "PRJ",
        languages: "java,cs",
        includetrends: "false",
        metrics: "<%= functionality %>,<%= productivity %>,<%= issues %>"
    }

    // get current measures
    $.getJSON('api/resources', params, function(d) {
        for each (var obj in d["msr"]) {
            var key = obj["key"];
            var val = obj["val"];
            current[key] = val;
        }
    });

    // fill in the datas variable
    for each (var name in names) {
        var param = {
            key: name,
            format: "json"
        }

        $.getJSON('/api/metrics', param, function(d) {
            var obj = {
                "title": d[0]['name'],
                "subtitle": "",
                "last10max": tensMax[name],
                "last10": tens[name],
                "ranges": [],
                "measures": [current[name], previous[name]],
                "markers": [],
                "value": [current[name], previous[name] - current[name]],
            }
            datas.push(obj);
        });
    }
});

var chart = d3.CombinedChart()
    .height(45 - 5 - 20)
    .valueFixed(2)
    .containerWidth(chartWidth)
    .data(datas)
    .containerID("#dev-bullets")
    .cssclass("quamoco")
    .grade(false);

    chart.createChart();

</script>
<!--<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
</div>
