<%
# The MIT License (MIT)
# 
# SparQLine Analytics Sonar Front End Plugin
# Copyright (c) 2015-2017 Isaac Griffith, SparQLine Analytics, LLC
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# Grade Scheme
gradeAmin = widget_properties["gradeAmin"]
gradeBmin = widget_properties["gradeBmin"]
gradeCmin = widget_properties["gradeCmin"]
gradeDmin = widget_properties["gradeDmin"]
gradeEmin = widget_properties["gradeEmin"]

# Metrics
security = widget_properties["securityMetric"]
access_ctl = widget_properties["accessControlMetric"]
assess_auth = widget_properties["assessmentAuthenticationMetric"]
audit_account = widget_properties["auditAccountabilityMetric"]
config_mgmt = widget_properties["configManagementMetric"]
id_auth = widget_properties["identificationAuthenticationMetric"]
maint = widget_properties["maintenanceMetric"]
risk_analysis = widget_properties["riskAnalysisMetric"]
%>

<link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'msuselfrontend', :path => 'quamoco.css') -%>" media="screen" />

<div id="rmf-bullets" class="rmf-bullets quamoco_bullets_widget" style="height:100%; width:100%;">
<!--[if lte IE 8 ]> <h3>Your browser is out of date and does not support this widget.</h3> <!--[endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
    <span style="display:inline;width:100%;">
        <div style="float:left;font-family:sans-serif;width:100%;">
            <h2 style="display: inline;" id='title-h2'>Risk Management Framework</h2>&nbsp;&nbsp;&nbsp; <h3 style="display: inline;" id="compliance">(NIST SP 800-53A)</h3>
            <hr style="float:left;width:100%"/>
        </div> </span>
    <script src="<%= url_for_static(:plugin => 'msuselfrontend', :path => 'bullets.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'msuselfrontend', :path => 'CombinedChart.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'msuselfrontend', :path => 'components.js') -%>"></script>
    <script src="<%= url_for_static(:plugin => 'msuselfrontend', :path => 'moment.min.js') -%>"></script>
<script>
// Determine the grade associated with the provided value
function grade(var value) {
    if (value >= <%= gradeAmin %>)
        return "A";
    else if (value >= <%= gradeBmin %>)
        return "B";
    else if (value >= <%= gradeCmin %>)
        return "C";
    else if (value >= <%= gradeDmin %>)
        return "D";
    else if (value >= <%= gradeEmin %>)
        return "E";
    else
        return "F";
}

// Setup the chart width and the data variable
var chartWidth = $('#rmf-bullets').parent().width();;
var datas = [];

// Extract data using SonarQube webservice and then fill the datas variable
$(document).read(function() {
    var params = {
        format: "json",
        fromDateTime: moment().format("YYYY-MM-DDTHH:mm:ss.SSSZZ"),
        metrics: "<%= security %>,<%= access_ctrl %>,<%= access_auth %>,<%= audit_account %>,<%= config_mgmt %>,<%= id_auth %>,<%= maint %>,<%= risk_analysis %>",
        resource: window.navbarOptions.get('contextKey')
    };
    var tens = {};
    var tensMax = {};
    var previous = {};
    var current = {};
    var names = [];
        
    // get last n days of values
    $.getJSON('api/timemachine/index',params,function(d) {
        for each (var obj in d['cols']) {
            tens[obj['metric']] = [];
            names.push(obj['metric']);
        }
        
        // create trend array for each metric
        for each (var obj in d['cells']) {
            for (var i = 0; i < names.length; i++)
                tens[names[i]].push(obj['v'][i]);
        }
        
        // find max of previous values
        for each (var obj in names){
            tensMax[obj] = Math.max.apply(null, tens[obj]);
        }
        
        // set the previous value
        for each (var obj in names) {
            prev[obj] = tens[obj][tens[obj].length - 1];
        }
    });
    
    params = {
        format: "json",
        resource: window.navbarOptions.get('contextKey'), // get the resource name from the page
        depth: 0,
        scope: "PRJ",
        languages: "java,cs",
        includetrends: "false",
        metrics: "<%= security %>,<%= access_ctrl %>,<%= access_auth %>,<%= audit_account %>,<%= config_mgmt %>,<%= id_auth %>,<%= maint %>,<%= risk_analysis %>",
    }
    
    // get current measures
    $.getJSON('api/resources', params, function(d) {
        for each (var obj in d["msr"]) {
            var key = obj["key"];
            var val = obj["val"];
            current[key] = val;
        }
    });
    
    // fill in the datas variable
    for each (var name in names) {
        var param = {
            key: name,
            format: "json"
        }
        
        $.getJSON('/api/metrics', param, function(d) {
            var obj = {
                "title": d[0]['name'],
                "subtitle": "",
                "last10max": tensMax[name],
                "last10": tens[name],
                "ranges": [<%= gradeAmin %>,<%= gradeBmin %>,<%= gradeCmin %>,<%= gradeDmin %>,<%= gradeEmin %>],
                "measures": [current[name], previous[name]],
                "markers": [<%= gradeAmin %>],
                "value": [current[name], previous[name] - current[name]],
                "grade": grade(current[name])
            }
            datas.push(obj);
        });
    }
});

var chart = d3.CombinedChart()
    .height(45 - 5 - 20)
    .valueFixed(2)
    .containerWidth(chartWidth)
    .data(datas)
    .containerID("#rmf-bullets")
    .cssclass("quamoco")
    .grade(true);
    
    chart.createChart();
</script>
<!--<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
</div>